* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tektur", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  user-select: none;
}
.container {
  position: relative;
}
.clock {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff27;
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.9); */
  backdrop-filter: blur(30px);
  opacity: 0.7;
  color: #fff;
}
.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 20px;
  text-align: center;
}
.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: block;
  font-size: 25px;
  font-weight: bolder;
}
.clock::before {
  content: "";
  height: 15px;
  width: 15px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 100;
  position: relative;
}
.hand {
  background-color: blueviolet;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hand i {
  width: 4px;
  background: #000;
  position: absolute;
  border-radius: 10px;
}
.hand .hour {
  background-color: red;
  height: 75px;
  width: 10px;
}
.hand .min {
  background-color: #7dfc07;
  height: 100px;
  width: 8px;
}
.hand .sec {
  background-color: #fff;
  height: 140px;
  width: 2px;
}
.container::before {
  content: "";
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  transform: translate(-130px, -90px);
  background-image: linear-gradient(to top, #f11b1c, #d42fba);
  box-shadow: 0 0 25px #d42fba, 0 0 75px red, 0 0 125px #d42fba;
  z-index: -20;
  animation-name: ballone;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes ballone {
  0% {
    transform: translate(-130px, -90px);
  }
  50% {
    transform: translate(-110px, -70px);
  }
  100% {
    transform: translate(-130px, -90px);
  }
}
.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transform: translate(45px, 30px);
  background-image: linear-gradient(to top, #64fc07, #b0fe17);
  box-shadow: 0 0 25px #64fc07, 0 0 75px #b0fe17, 0 0 125px #64fc07;
  z-index: -20;
  animation-name: balltwo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes balltwo {
  0% {
    transform: translate(45px, 30px);
  }
  50% {
    transform: translate(25px, 10px);
  }
  100% {
    transform: translate(45px, 30px);
  }
}
/* media query */
@media screen and (max-width: 700px) {
  .clock {
    height: 120px;
    width: 120px;
  }
  .clock::before {
    content: "";
    height: 5px;
    width: 5px;
  }
  .clock span {
    inset: 3px;
  }
  .container::before {
    height: 150px;
    width: 150px;
  }
  .container::after {
    height: 75px;
    width: 75px;
  }
  .clock span b {
    font-size: 10px;
  }
  .hand .hour {
    background-color: red;
    height: 35px;
    width: 5px;
  }
  .hand .min {
    background-color: #7dfc07;
    height: 30px;
    width: 4px;
  }
  .hand .sec {
    background-color: #fff;
    height: 40px;
    width: 2px;
  }
  .container::before {
    content: "";
    transform: translate(-100px, -100px);
  }
  @keyframes ballone {
    0% {
      transform: translate(-100px, -100px);
    }
    50% {
      transform: translate(-90px, -90px);
    }
    100% {
      transform: translate(-100px, -100px);
    }
  }
  .container::after {
    content: "";
    transform: translate(45px, 30px);
  }
  @keyframes balltwo {
    0% {
      transform: translate(50px, 40px);
    }
    50% {
      transform: translate(45px, 30px);
    }
    100% {
      transform: translate(50px, 40px);
    }
  }
}